<%#= button_to "Log out", '/login', method: :get%>
<!--<h1>Welcome</h1>-->
<%# if logged_in? %>
<!--  <h1>You are Logged In, <%#= current_user.username %></h1>-->
<!--  <h2>Please enter your tickets if you want to</h2>-->
<%#end%>
<%#= form_tag '/tickets-create' do %>
<%#= label_tag :subject%>
<%#= text_field_tag :subject %>
<%#= label_tag :body%>
<%#= text_field_tag :body%>
<%#= submit_tag "Save"%>
<%#end%>
<%#= button_to "Show All tickets", '/tickets-all', method: :get%>


<h2>Welcome</h2>
<ul class="nav nav-tabs">
  <li role="presentation"><a href="/login">Logout</a></li>
</ul>

  <% flash.each do |type, msg| %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
  <% end %>

<div class="media-middle text-center">
  <% if logged_in? %>
    <%= form_tag tickets_path, method: :get do %>
      <button style="width: 20%;">Show All Tickets</button>
    <%end%>
    <%= form_tag 'department-create', method: :get do %>
      <button style="width: 20%;">Add Department</button>
    <%end%>
    <%= form_tag 'department-show', method: :get do %>
      <button style="width: 20%;">Show Departments</button>
    <%end%>
    <%= form_tag users_path, method: :get do %>
      <button style="width: 20%;">Show Users</button>
    <%end%>
  <%end%>
</div>

